<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>公共平台</title>
    <script src="/ZL_Config.js"></script>
    <script>
        window.ary = [];
        window.loadingInstance = "close"
        document.write(`<script src='/static/${window.location.hash.split('/')[1]}/ZL_Config.js'><\/script>`);
    </script>

</head>

<body>
    <script src="<%=BASE_URL %>/tinymce4.7.5/tinymce.min.js">
    </script>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }
        
        li {
            list-style: none;
        }
    </style>
</body>
<script>
    function isInclude(name, del) {
        var js = /js$/i.test(name);
        var es = document.getElementsByTagName(js ? 'script' : 'link');
        for (var i = 0; i < es.length; i++)
            if (es[i][js ? 'src' : 'href'].indexOf(name) != -1) return true;
        return false;
    }
    if (!isInclude(`/${window.location.hash.split('/')[1]}/js/CommonRuntime.js`))
        document.write(`<script src='/static/${window.location.hash.split('/')[1]}/js/CommonRuntime.js'><\/script>`);
</script>

</html>