/** element-ui 样式覆盖文件 **/
@import './theme.scss';

$btnWidth: 32px;

.menu-wrapper{
  .el-submenu__title:hover{
    background: $themeColor !important;
    color: #fff !important;
  }

  li:hover{
    background: $themeColor !important;
    color: #fff !important;
  }

  .router-link-exact-active {
    li{
      background: $themeColor !important;
      color: #fff !important;
    }
  }

  .el-submenu{
    .el-menu-item:hover{
      background: $themeColor !important;
      color: #fff !important;
    }
  }
}
.el-tabs__item.is-active{
  color:#389bdf!important;
}

.v-modal{
  z-index: 1000 !important;
}
/** 卡片 **/
.el-scrollbar__bar.is-vertical {
  width: 2px;
  top: 2px;
  right: 0;
}
.no-zl-card-border{
  .el-card.is-always-shadow {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
}

.zl-card-border{
  .el-card.is-always-shadow {
    -webkit-box-shadow: 0px 1px 6px 0px rgba(100, 100, 100, 0.4) !important;
    box-shadow: 0px 1px 6px 0px rgba(100, 100, 100, 0.4) !important;
  }
}
.zl-card {
  box-sizing: border-box;
  margin: 10px;
  margin-bottom: 10px !important;
  position: relative;
  .el-card__body {
    padding: 10px !important;
  }
  .mam-full {
    position: absolute;
    bottom: -14px;
    left: 0px;
    right: 0px;
    margin: auto;
    max-width: 75px;
    min-width: 55px;
    background: white;
    box-shadow: 0px 6px 6px 0px rgba(160, 160, 160, 0.4);
    cursor: pointer;
    border-radius: 0px 0px 4px 4px;

    .mam-full-icon {
      font-size: 15px;
      display: block;
      margin: auto;
      color: #bebebe;
      transition: all .3s;
    }

    .mam-full-icon-rotate {
      font-size: 15px;
      display: block;
      margin: auto;
      color: #bebebe;
      transition: all .3s;
      transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      /* IE 9 */
      -moz-transform: rotate(180deg);
      /* Firefox */
      -webkit-transform: rotate(180deg);
      /* Safari 和 Chrome */
      -o-transform: rotate(180deg);
    }
  }

  .box-card {
    background-color: #ffffff;
    border-radius: 5px;
    width: 100%;
    height: auto;
    // margin-bottom: 10px;

    .card-title {
      position: absolute;
      top: 5px;
      padding: 0 8px;
      line-height: 40px;
      height: 40px;
      margin-left: -26px;
      background-color: #ffffff;
      box-shadow: 0px 1px 4px 0px rgba(160, 160, 160, 0.4);
      border-radius: 4px;
      border: solid 1px #bebdbe;
      font-size: 16px;
      color: #525252;

      &::before {
        content: '';
        width: 6px;
        height: 38px;
        background-color: $themeColor;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 8;
      }

      .icon {
        color: #a0a0a0;
        font-size: 20px;
      }

      span {
        padding-left: 6px;
      }
    }

    .slot-tran {
      transition: all .3s;

    }

    .slot-html {
      // margin-top: 40px;
      height: 100%!important;

    }

    .slot-html-no {
      margin-top: 0;
      height: 100%!important;
    }
  }
}


/** 列表 **/
.zl-table {
  border: 1px solid  #dcdcdc;
  border-bottom: none;
  *{
    box-sizing: border-box;
  }

  // border-bottom: none;
  thead th {
    background: #f6f6f6 !important;
    border-bottom: 1px solid #dcdcdc !important;
    height: 34px;
    line-height: 34px;
    padding: 0 !important;
  }

  .hover-row{
    background: #edf8ff !important;
  }
  .el-table--striped .el-table__body tr.el-table__row--striped td {
    background: #fafafa;
  }
  .el-table--striped .el-table__body tr.el-table__row--striped.current-row td, .el-table__body tr.current-row>td, .el-table__body tr.hover-row.current-row>td, .el-table__body tr.hover-row.el-table__row--striped.current-row>td, .el-table__body tr.hover-row.el-table__row--striped>td, .el-table__body tr.hover-row>td {
    background-color: #edf8ff !important;
  }

  thead tr th .cell {
    height: 34px;
    line-height: 34px;
    color: #2b2e33 !important;
    font-size: 14px;
    font-weight: normal;

  }

  tbody tr td {
    height: 34px !important;
    line-height: 34px !important;
    padding: 0;
  }

  tbody tr .cell{
    height: 34px !important;
    line-height: 34px !important;
    width: auto;
  }

  tbody tr td .cell > div {
    height: 34 !important;
    line-height: 34px !important;
    box-sizing: border-box;
  }

  // 如果复选框禁选那么透明度这是为0
  .is-disabled{
    opacity: 0;
  }
}

// 列表操作相关
.zl-icon-line{
  padding: 0 7px 0 2px;
  position: relative;
}
.zl-icon-line::after{
  content: '';
  position: absolute;
  top: 1px;
  left: 2px;
  height: 16px;
  width: 1px;
  background: $themeColor;
}

.icon-theme{
  color: $themeColor !important;
  cursor: pointer;
  vertical-align: middle;
}


/** 表单控件相关 **/
.zl-form{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.zl-form-control {
  input {
    height: $btnWidth !important;
    line-height: $btnWidth !important;
    border-radius: 4px;
  }
}

.el-form-item {
  margin-bottom: 16px;
}

.el-form-item__label {
  line-height: $btnWidth;
  color: #5c5c5c !important;
  font-size: 14px;
  font-weight: normal !important;
}

.el-input__inner{
  border: 1px solid $formBorder !important;
  font-size: 14px;
}

.el-input.is-active .el-input__inner, .el-input__inner:focus {
  border-color: $themeColor !important;
  outline: 0;
}

.zl-input-240px {
  width: 240px;
  margin-right: 5px;
}

.el-input-group__append, .el-input-group__prepend {
  background-color: #f5f7fa;
  color: #909399;
  vertical-align: middle;
  display: table-cell;
  position: relative;
  border: 1px solid $formBorder;
  border-radius: 0 4px 4px 0;
  padding: 0 20px;
  width: 1px;
  white-space: nowrap;
  border-left: none;
}

.el-textarea__inner {
  display: block;
  resize: vertical;
  padding: 5px 15px;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  font-size: inherit;
  color: #606266;
  background-color: #fff;
  background-image: none;
  border: 1px solid $formBorder;
  border-radius: 4px;
  -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}

.el-checkbox__inner {
  display: inline-block;
  position: relative;
  border: 1px solid $formBorder;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  background-color: #fff;
  z-index: 1;
  -webkit-transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);
  transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);
}

// 数字

.el-input-number.is-controls-right[class*=medium] [class*=decrease], .el-input-number.is-controls-right[class*=medium] [class*=increase] {
  line-height: 15px;
}

.el-input-number__decrease, .el-input-number__increase {
  position: absolute;
  z-index: 1;
  top: 2px;
  width: 40px;
  height: auto;
  text-align: center;
  background: #f5f7fa;
  color: #606266;
  cursor: pointer;
  font-size: 13px;
}

.el-input-number.is-controls-right .el-input-number__decrease {
  right: 1px;
  bottom: 2px;
  top: auto;
  left: auto;
  border-right: none;
  border-left: 1px solid #dcdcdc;
  color: #606266;
  border-radius: 0 0 4px;
}

// .el-checkbox__label:hover{
//   color: $themeColor;
// }

.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  background-color: $themeColor;
  color: #fff !important;
}

// 复选框

.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: $themeColor;
  border-color: $themeColor;
}

.el-checkbox__input.is-checked+.el-checkbox__label {
  color: $themeColor;
}

/** 按钮 **/

.zl-btn-stop{
  text-align: center;
  height: 20px;
  width: 40px;
  font-size: 12px;
  line-height: 20px;
  border: 1px solid $themeColorWarning;
  color: $themeColorWarning;
  display: inline-block;
  border-radius: 3px;
}

.el-button {
  i {
    font-size: 14px;
  }

  font-size: 14px;
  padding: 0 14px !important;
  line-height: $btnWidth;

  &:hover {
    color: $themeColor !important;
    opacity: .8;
    border-color: $themeColor !important;
    background-color: #fff !important;

  }
}

.btn-theme {
  background: $themeColor;
  color: #ffffff;
  border: 1px solid $themeColor;
  border-radius: 4px;
  font-size: 14px;
  height: $btnWidth;

  &:hover {
    background: $themeColor !important;
    color: #ffffff !important;
    border: 1px solid $themeColor !important;
    border-radius: 4px !important;
    font-size: 14px !important;
    height: $btnWidth !important;
    opacity: 1;
  }
}

.btn-theme-small {
  background: $themeColor;
  color: #ffffff;
  border: 1px solid $themeColor;
  border-radius: 4px;
  font-size: 14px;
  padding: 6px 8px !important;

  i {
    font-size: 14px;
  }
}

.btn-theme-small-danger {
  background: #ff6e6e;
  color: #ffffff;
  border: 1px solid #ff6e6e;
  border-radius: 4px;
  font-size: 14px;
  padding: 6px 8px !important;

  i {
    font-size: 14px;
  }
}
.btn-plain{
  border: 1px solid $themeColor !important;
  border-radius: 4px;
  font-size: 14px;
  color: $themeColor !important;
  height: $btnWidth;
  i{
    font-size: 16px;
  }
}

.btn-default {
  background-color: #ffffff;
  border-radius: 4px;
  border: solid 1px #bebdbe;
  font-size: 14px;
  height: $btnWidth;
  color: #5c5c5c;
}

.btn-default-small {
  background: #fff;
  color: #5c5c5c;
  border: 1px solid #bebdbe;
  border-radius: 4px;
  font-size: 14px;

  i {
    font-size: 14px;
  }
}

.btn-warning{
  background-color: #e6a23c;
  border-radius: 4px;
  border: solid 1px #e6a23c;
  font-size: 14px;
  height: $btnWidth;
  color: #fff;
}

.btn-danger{
  background-color: #f56c6c;
  border-radius: 4px;
  border: solid 1px #f56c6c;
  font-size: 14px;
  height: $btnWidth;
  color: #fff;
}

/** radio **/
.el-radio__input.is-checked .el-radio__inner{
  border-color: $themeColor;
  background: $themeColor;
}

.el-radio__input.is-checked+.el-radio__label {
  color: $themeColor;
}

/** 面包屑 **/
.tags-view-container[data-v-57b800e8] {
  height: 45px !important;
  width: 100%;
  background: #f5f5f5;
  border-bottom: 2px solid white;
  position: fixed;
  top: 50px;
  z-index: 9;
}

.hamburger-container {
  float: left;
  display: inline-block;
  margin-left: 12px;
  margin: 6px 4px 0px;
  line-height: 45px !important;
}

.app-breadcrumb.el-breadcrumb[data-v-b50ef614] {
  display: inline-block;
  font-size: 14px;
  line-height: 45px !important;
  margin-left: 10px;
}

// 阴影
.v-modal {
  opacity: 0.3;
  background: #454545;
}

//整个弹框
.el-dialog {
  border-radius: 4px;

  .el-dialog__body {
    padding: 18px 20px !important;
    color: #606266;
    font-size: 14px;
  }
  // 弹窗头部
  .el-dialog__header {
    padding: 0px !important;
    background-color: #f0f0f0;
    border-radius: 4px 4px 0px 0px;
    height: 40px;

    .el-dialog__headerbtn {
      top: 0px;
    }

    .el-dialog__close {
      line-height: 43px;
    }

    .el-dialog__title {
      font-family: PingFang-SC-Regular;
      font-size: 16px;
      color: #222222;
      margin-left: 20px;
      line-height: 40px;
    }
  }

  // 弹框底部
  .el-dialog__footer {
    padding: 0px;
    height: 60px;
    padding-top: 13.5px;
    background: #f0f0f0;
    padding-right: 20px;
  }
}

// 弹出框
.el-message-box {
  border: none;
  position: relative;
  padding-bottom: 60px;

  .el-message-box__btns {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 180px;

    .el-button {
      float: right;
    }

    .el-button--primary {
      margin-left: 0px;
      margin-right: 10px;
    }
  }

  .el-message-box__headerbtn {
    .el-message-box__close {
      color: #222;
    }

    top: 11px;
  }

  .el-message-box__header {
    height: 40px;
    padding: 0px;
    border-bottom: 1px solid #dcdcdc;
    // background: $themeColor;

    span {
      line-height: 40px;
      font-size: 16px;
      color: #222;
      margin-left: 12px;
    }
  }

  .el-message-box__btns{
    .el-button--primary {
      color: #fff;
      background-color: $themeColor;
      border-color: $themeColor;
      border-color: $themeColor;
    }
  }
}

// 分页
.zl-pagination {
  display: table;
  margin: 20px auto;
  .el-input__inner {
    // border-color: $themeColor;
  }
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: $themeColor;
  color: #fff;
}
.el-select-dropdown {
  .el-select-dropdown__list {

    .selected {
      color: $themeColor;
    }
  }

  .el-pagination__editor {
    .el-input__inner {
      color: $themeColor;
    }
  }

  .el-pager {
    .active {
      color: $themeColor;
    }
  }
}
.el-card__body{
  height: 100%;
}


// 修改复选框组
.zl-helps-box{
  .el-checkbox{
    margin: 0px;
    margin-top: 14px;
    margin-left: 17px;
  }
}
// 修改帮助框下的查询
.zl-right{
  .zl-search-input{
    .el-input__inner{
      border: none;
    }
  }
}

/** 提示框 **/
.zl-confirm-html{
  text-align: center;
  i{
    color: $themeColor;
    font-size:22px;
    vertical-align:middle;
  }

  span{
    padding-left:10px;
    font-size:14px !important;
    vertical-align:middle;
    color: #4b4b4b;
  }
}

/** el-tab **/

.el-tabs--border-card {
  background: #fff;
  border: 1px solid #dcdfe6;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.el-tabs--card>.el-tabs__header .el-tabs__nav {
  border-radius: 0 0 0 0 !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.el-tabs__header{
  margin-bottom: 8px;
}
.el-tabs--card>.el-tabs__header {
  // border-bottom: 1px solid $formBorder;
}
.el-tabs--border-card>.el-tabs__content{
  padding: 16px 10px;
}
.el-tabs__item {
  padding: 0 18px;
  height: 36px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 36px;
  display: inline-block;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  color: #222222 !important;
  position: relative;
  background: #f5f7fa;
  // border: 1px solid $formBorder !important;
}

.el-tabs__nav-scroll{
  background: #f5f7fa;
}
.zl-pagination{
  margin: 18px auto 8px;
}
.el-tabs__item.is-active {
  color: $themeColor !important;
  border-bottom: none !important;
  background:white;
}
.el-tabs--card>.el-tabs__header .el-tabs__item{
  border:0px!important;
}
.el-tabs--card>.el-tabs__header .el-tabs__nav{
  border:0px!important;
}
.el-tabs{
  border :2px solid #e8e9ed;
}
.btn-theme:hover{
  background: rgba(36, 148, 224, 0.8) !important;
}
.el-message-box__content{
  padding: 28px 0px;
  width: 80%;
  float: none;
  margin: auto;
}
.el-button+.el-button{
  margin-left:6px;
}
.el-scrollbar{
  padding-bottom: 18px!important;
}

.zl-table .el-table__body tr.current-row > td{
  background-color:#bde4fd!important;
}

.el-tabs--border-card>.el-tabs__header .el-tabs__item{
  border: none!important;
}