// 项目主题色
// $themeColor: red;
$themeColor: #2494e0;

$themeColorWarning: #FF4500;

// 表单控件border
$formBorder: #bebebe;

// header
$headerBg: #333;
$headercolor: #fff;



// 内边距外边距
$mainPadding: 15px;
